
// Variables ---------- //
$font-family-1: 'effra', sans-serif;
$font-bold: 700;
$font-regular: 400;
$font-light: 200;
$font-medium: 500;

$white-font: #fff;
$black-font: #000;

$grey-background: #ecebeb;
$blue-background: #2174c2;
$border-color: gray;


// Fonts
@font-face {
  font-family: 'effra';
  src: url('../fonts/effra_std_bd.tff') format('tff');
  font-weight: $font-bold;
  font-style: normal;
}

@font-face {
  font-family: 'effra';
  src: url('../fonts/effra_std_lt.tff') format('tff');
  font-weight: $font-light;
  font-style: normal;
}

@font-face {
  font-family: 'effra';
  src: url('../fonts/effra_std_md.tff') format('tff');
  font-weight: $font-medium;
  font-style: normal;
}

@font-face {
  font-family: 'effra';
  src: url('../fonts/effra_std_rg.tff') format('tff');
  font-weight: $font-regular;
  font-style: normal;
}

// Main Styles 
body {
  font-family: $font-family-1;
  line-height: 1.5rem;
  box-sizing: border-box;
}




// Header Section Styles 
header {
  background: no-repeat right url("../images/cardinal-blue-bg.png");
  background-size: auto 100%;
  height: 350px;
  color: $white-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $font-regular;
  figure {
    margin-top: 4rem;
    margin-bottom: 4rem;
    img {
      width: 10rem;
    }
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: $font-regular;
  }
}

// Services Section Styles 
.services {
  background-color: $grey-background;
  padding-top: 4rem;
  padding-bottom: 10rem;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  img {
    margin-bottom: 1.25rem;
  }
  p {
    text-align: center;
    font-weight: $font-light;
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
}

// Clients Section 
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.client {
  border: 2px solid #c5c3c3;
  width: 90%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.client-message {
  background-color: #1f1d1d;
  color: $white-font;
  margin-bottom: 0rem;
  width: 90%;
  height: 17rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 65rem;
  opacity: 0.8;
  h3 {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    font-weight: $font-light;
  }
  p {
    width: 80%;
    font-weight: $font-light;
  }
}

// Gojo Section 
.gojo {
  figure {
    padding-top: 3rem;
    background: url("../images/pic-gojo-bg.png") left;
    background-size: 1000px;
    img {
      width: 90%;
    }
  }
  div {
    background-color: $grey-background;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    h3 {
      font-size: 1.5rem;
      width: 90%;
      font-weight: $font-bold;
      margin-bottom: 0.5rem;
    }
    h4 {
      font-weight: $font-bold;
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 1.5rem;
      width: 90%;
    }
    button {
      background-color: $blue-background;
      color: $white-font;
      font-size: 1rem;
      padding: 1.25rem 2.25rem;
      border-radius: 5px;
      font-weight: $font-bold;
    }
  }
}

// Fifth Third App Section 
.fifth-third {
  background: url("../images/pic-fifththird-bg.png");
  background-position: center;
  background-size: 2200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: $white-font;
  h3 {
    font-size: 1.5rem;
    font-weight: $font-bold;
    margin-bottom: 0.5rem;
  }
  p {
    width: 70%;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: $font-light;
  }
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
  h4 {
    margin-bottom: 2rem;
  }
  button {
    background-color: $white-font;
    color: $black-font;
    font-size: 1rem;
    padding: 1.25rem 2.25rem;
    border-radius: 5px;
    font-weight: $font-bold;
  }
}

// Christ Hospital Section 
.christ-hospital {
  background: url("../images/pic-chhn-bg.png") no-repeat;
  background-position: center;
  background-size: 1500px;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: left;
  color: $white-font;
  padding-left: 2rem;
  h3 {
    font-size: 1.5rem;
    font-weight: $font-bold;
    margin-bottom: 0.5rem;
  }
  h4 {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
  p {
    font-weight: $font-light;
    width: 90%;
    margin-bottom: 1.5rem;
  }
  button {
    background-color: $white-font;
    color: $black-font;
    font-size: 1rem;
    padding: 1.25rem 2.25rem;
    border-radius: 5px;
    font-weight: $font-bold;
  }
}

// Contact Section 
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: $grey-background;
  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  p {
    width: 70%;
    text-align: center;
    font-weight: $font-light;
    margin-bottom: 1.75rem;
  }

  // Contact Form Styles
  .form {
    max-width: 90%;
    margin: auto;
  }
  input, textarea {
    width: 100%;
    display: inline;
    border-radius: 3px;
    border:none;
    font-size: 1rem;
  }
  input {
    height: 3.25rem;
    margin-bottom: 1rem;
  }
  textarea {
    height: 6rem;
    margin-bottom: 1rem;
  }
}